h1 {
    text-align: center;
    color: black
}

p {
    color: rgb(1, 1, 1);
    text-align: relative;
  }

h2 {
    text-align: relative;
    color: black;
}

p {
    color: rgb(1, 1, 1);
    text-align: relative;
}

h2 {
    text-align: relative;
    color: black;
}

p {
    color: rgb(1, 1, 1);
    text-align: relative;
}

h3 {
    text-align: relative;
    color: black;
}

p {
    color: rgb(1, 1, 1);
    text-align: relative;
}